body{

margin:0;
font-family:Arial;
background:#111;
color:white;
text-align:center;

}

h1{

color:#00aaff;
margin-top:40px;

}

#menu{

margin-top:100px;

}

button{

padding:15px 25px;
margin:10px;
font-size:18px;
border:none;
border-radius:10px;
background:#00aaff;
color:white;
cursor:pointer;

}

.game-info{
display:flex;
justify-content:center;
gap:30px;
font-size:20px;
}

#topbar{

display:flex;
justify-content:space-between;
padding:20px;

}

#grid{

display:grid;
grid-template-columns:repeat(4,80px);
grid-gap:15px;
justify-content:center;
margin-top:40px;

}

.dot{

width:70px;
height:70px;
background:#444;
border-radius:50%;

}

.active{

background:lime;

}
.player{

background:orange;

}
